// Globals

.button-1 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 150px;
  height: 30px;
}

.button-1:hover {
  background-color: #f7fafa;
}

.button-1:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}


// Nav

.nav-section {
  select {
    width: 9rem;
  height: 2rem;
  outline: none;
  border-radius: 5px;
  border-color: transparent;
  display: flex;
  text-align: center;
  }
}


// Modal


.details-modal {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 90%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  text-align: left;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: black;
}


.details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 4.5em;

  svg {
    display: block;
  }
}



.details-modal-title {
  color: #111827;
  padding: 1.5em 2em;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: normal;
  }
}

// -------------- CONTENT

.details-modal-content {
  border-top: 1px solid #e0e0e0;
  padding: 2em;
  pointer-events: all;
  overflow: auto;
  form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    input {
      width: 100%;
      border: 1px;
      border-radius: 5px;
      padding: 2px;
    }
  }
}


.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(#0f172a, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


// Navbar 

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem; 
  display: flex;
  align-items: center;

  @media screen and (max-width: 768px) {
    max-width: 100%; 
    padding: 0 20px; 
  }
}


.nav-section {
  width: 100%;
  display: flex;
  justify-content: end;
}


// Hero

.hero-container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: 100px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
    font-size: 68px;
  }
}

// Showroom

.showroom-container {
  padding-top: 50px;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
}

.showroom-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

.loading-icon {
  font-size: 10rem;
  animation: animate 2s infinite;
}

// Card 

.nft{
  user-select:none;
  max-width: 300px;
  margin: 5rem auto;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  ins{
    text-decoration: none;
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 10px;
    .tokenImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .description{
      margin: .5rem 0;
      color: #a89ec9;
    }
    .tokenInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
        ins{
          margin-left: -.3rem;
          margin-right: .5rem;
        }
      }
      .duration{
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: .2rem;
        ins{
          margin: .5rem;
          margin-bottom: .4rem;
        }
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      padding: 10px;
      gap: 2rem;
      justify-content: center;
      ins{
        color: #a89ec9;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
        img{
          border-radius: 100%;
          border: 1px solid #ffffff22;
          width: 2rem;
          height: 2rem;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
  ::before{
    position: fixed;
    content: "";
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: .7s all;
  }
  &:hover{
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
    ::before{
      filter: brightness(.5);
      top: -100%;
      left: 200%;
    }
  }
}



// Productfilter

.product-filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  select {
    width: 10rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border-color: transparent;
  }
  input {
    width: 10rem;
    height: 2rem;
    outline: none;
    border-radius: 5px;
    border-color: transparent;
  }
}



